<!DOCTYPE html> 
<html> 
<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />



	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
</head> 
<body>


	<div data-role="header">
		<h1>Prioritize</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
	<p>Welcome to the Prioritize app! Use mindfulness to make smart financial decisions! </p>
	     
	 <h3 class="ui-title">Set your budget for today:</h3>
		<form>
  			 <input type="range" name="slider" id="myBudget" value="25" min="0" max="100"  />
		</form>
		<a href="/mainpage">

			<button data-role="button" id="submit">Submit</button>
        </a>

</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>