#y{
    display: inline;
    text-align:center;
}

#t{
    display: inline;
    text-align:center;
}

#d{
    display: inline;
    text-align:center;
}

#budget{
    display: inline;
    text-align:center;
}